{% extends "base.html.twig" %}

{% block title %}Calandrier{% endblock %}
{% block stylesheet %}
{% endblock %}

{% block body %}
     
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <label for="start">date :</label>
        </br>
        <input type="date" class="form-control" id="start" name="trip-start" value="2024-05-16" min="2024-05-16" max="2030-05-16" />


    </div>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br>
  </header>

  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}   